<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Page not found</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
</body>

</html>